<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/code.css" />
    <script defer>
      (async function () {
        const resp = await fetch('/profile/<%= profile %>/change');
        if (resp.ok) {
          await resp.text();
          window.location.reload();
        }
      })();
    </script>
  </head>
  <body>
    <% sections.forEach((s) => { %>
    <section>
      <h1><%= s.head %></h1>
      <% s.lines.forEach((l) => { %>
      <div class="row">
        <p><%= l.head %></p>
        <% if (!l.format) { %>
        <div>
        <%   l.texts.forEach((g) => { %>
        <%     if (g.length >= 100) { %>
          <span><img class="pdf417" src="/pdf417?t=<%= url(g) %>"></span>
        <%     } else { %>
          <span>
            <pre><%= disp(g) %></pre>
            <img src="/code?t=<%= url(g) %>">
          </span>
        <%     } %>
        <%   }); %>
        </div>
        <% } else { %>
        <div class="date">
          <span>
            <pre><%= disp(l.format('MMDDYYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('MMDDYYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('MMM\tDD\tYYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('MMM\tDD\tYYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('MMM\tD\tYYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('MMM\tD\tYYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('MM\tDD\tYYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('MM\tDD\tYYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('M\tDD\tYYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('M\tDD\tYYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('YYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('YYYY')) %>"></span>

          <span>
            <pre><%= disp(l.format('MMYYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('MMYYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('MMM\tYYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('MMM\tYYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('MM\tYYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('MM\tYYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('M\tYYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('M\tYYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('YYYYMM')) %></pre>
            <img src="/code?t=<%= url(l.format('YYYYMM')) %>"></span>
          <span>
            <pre><%= disp(l.format('YYYYMMDD')) %></pre>
            <img src="/code?t=<%= url(l.format('YYYYMMDD')) %>"></span>

          <span>
            <pre><%= disp(l.format('MM/YYYY')) %></pre>
            <img src="/code?t=<%= url(l.format('MM/YYYY')) %>"></span>
          <span>
            <pre><%= disp(l.format('YYYY\tMMM')) %></pre>
            <img src="/code?t=<%= url(l.format('YYYY\tMMM')) %>"></span>
          <span>
            <pre><%= disp(l.format('YYYY\tMM')) %></pre>
            <img src="/code?t=<%= url(l.format('YYYY\tMM')) %>"></span>
          <span>
            <pre><%= disp(l.format('YYYY\tM')) %></pre>
            <img src="/code?t=<%= url(l.format('YYYY\tM')) %>"></span>
          <span>
            <pre><%= disp(l.format('YYYY/MM')) %></pre>
            <img src="/code?t=<%= url(l.format('YYYY/MM')) %>"></span>
          <span>
            <pre><%= disp(l.format('YYYY-MM-DD')) %></pre>
            <img src="/code?t=<%= url(l.format('YYYY-MM-DD')) %>"></span>
        </div>
        <% } %>
      </div>
      <% }); %>
    </section>
    <% }); %>
  </body>
</html>
